@keyframes sample {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(500px, 0);
  }
  100% {
    transform: translate(700px, 500px);
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 0);
  border: 2px solid black;
  /* animation: sample 2s linear infinite alternate; */
  /* animation: sample 2s linear forwards; */
}

.box:hover {
  animation-play-state: paused;
}

@keyframes spaceship-ani {
  to {
    background-position: -2550px 0; /* 너비값의 1/2 */
  }
}

.spaceship {
  width: 150px;
  height: 150px;
  background: url("/images/sprite_spaceship.png") no-repeat 0 0 / auto 150px;
  animation: spaceship-ani 2s infinite steps(17);
}
